.hidden {
    display: none;
}

.movebtn {
    font-size: 100px;
    line-height: 0px;
}

#table {
    width: 70vw;
    height: 70vw;
}

@media (min-width: 768px) {
    #table {
        width: 40vw;
        height: 40vw;
    }
}
